
{% extends "AppCode/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <!--aqui va lo que cambia, y lo que va asociado a esta vista-->

    <head>

        <title>Inicio</title>

    </head>
    
    <body style="background-color: #c0c0c0;">
        <h1>Inicio</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>



    </body>
{% endblock %}